@charset "UTF-8";

@media screen and (min-width: 768px){

  i#burger {
    display: none;
  }  

nav {
    display: block;
}

nav > ul {
    text-align: left;
}

nav > ul > li {
    display:inline-block;
    border: 2px solid #2fa866;
    border-radius: 5px;
    
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    list-style-type: none;
}



nav > ul > li:hover {
    background-color: #2fa866;
}

}

